<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sunny News Portal | 24X7</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/advt.css' %}">
</head>
<body>
    <nav class="navbar">
        <div class="mx-auto">
            <img src="{% static 'images/logo.png' %}" class="logo" alt="bird">
           <a href="/" class="navbar">Sunny News</a>
        </div>
        <div class="container">
            <ul class="navbar-nav">
                <li class="d-flex">
                    <a href="/movies" class="navbar">Movies</a>
                    <a href="/sports" class="navbar">Sports</a>
                    <a href="/politics" class="navbar">Politics</a>
                </li>
            </ul>
        </div>
    </nav>
    {% block body_block %}
        <img src="{% static 'images/movies1.jpg' %}" alt="movies">
        <img src="{% static 'images/sports1.jpg' %}" alt="sports">
        <img src="{% static 'images/politics1.jpg' %}" alt="politics">
        <img src="{% static 'images/movies2.jpg' %}" alt="movies">
        <img src="{% static 'images/sports2.jpg' %}" alt="sports">
        <img src="{% static 'images/politics2.jpg' %}" alt="politics">
        <img src="{% static 'images/movies3.jpg' %}" alt="movies">
        <img src="{% static 'images/sports3.jpg' %}" alt="sports">
        <img src="{% static 'images/politics3.jpg' %}" alt="politics">
    {% endblock %}
</body>
</html>